[Unit]
Description=Zwind device setup service
After=sysinit.target network.target udev.service
Wants=udev.service

[Service]
Type=oneshot
ExecStart=/etc/systemd/zwind_device_setup.sh
RemainAfterExit=yes
User=root

[Install]
WantedBy=multi-user.target
